/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #2d3748;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.main {
  height: 100%;
  display: flex;
}
.main-container {
  display: flex;
  width: 100%;
}
.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}
.left {
  background-image: url("../images/left-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-info {
  display: flex;
  flex-direction: column;
}
.login-descr {
  margin-bottom: 2px;
}
.login-title {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a202c;
  margin-bottom: 24px;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  row-gap: 11px;
}
.login-label {
}
.login-input {
  width: 350px;
  padding: 17px 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
}
.mini-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 27px 0;
}
.mini-login-left {
  user-select: none;
}
.mini-login-right {
}
.login-checkbox {
  margin-right: 11px;
}
.login-label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.forgot-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: #2c5282;
}
.login-button {
  background-color: #04c35c;
  border: transparent;
  padding: 16px 136px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
}
.singin-button {
  background-color: #2d3748;
  border: transparent;
  padding: 16px 78px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  margin-bottom: 90px;
}
.link {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
